@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@keyframes heart-filling {
  0% {
    background-image: linear-gradient(180deg, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    opacity: 0.25;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }
  45% {
    background-image: linear-gradient(180deg, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    opacity: 0.35;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }
  70% {
    background-image: linear-gradient(180deg, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    opacity: 0.65;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }
  85% {
    background-image: linear-gradient(180deg, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    opacity: 0.9;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }
  100% {
    background-image: linear-gradient(180deg, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    opacity: 1;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }
}
@keyframes LoadingMenuItems {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  45%, 65% {
    transform: translateY(-0.25rem);
    opacity: 0.4;
  }
  80%, 100% {
    transform: translateY(-0.5rem);
    opacity: 1;
  }
}
@keyframes loadingSpinner {
  to {
    transform: rotate(3turn);
  }
  to {
    opacity: 0;
  }
}
@keyframes load-msg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes containerLoading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes restaurant-hov {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}
@keyframes btn-hov {
  0% {
    background-image: linear-gradient(0deg, #9a61de, #ff86de);
    border-bottom: 0.0001rem solid #a16be0;
    border-right: 0.0001rem solid #a16be0;
    border-top: 0.0001rem solid #ff93e1;
    border-left: 0.0001rem solid #ff93e1;
  }
  60% {
    background-image: linear-gradient(0deg, #a16be0, #ff93e1);
    border-bottom: 0.0001rem solid #a978e3;
    border-right: 0.0001rem solid #a978e3;
    border-top: 0.0001rem solid #ffa2e5;
    border-left: 0.0001rem solid #ffa2e5;
  }
  90%, 100% {
    background-image: linear-gradient(0deg, #a776e3, #ff9fe5);
    border-bottom: 0.0001rem solid #bc95e9;
    border-right: 0.0001rem solid #bc95e9;
    border-top: 0.0001rem solid #fface8;
    border-left: 0.0001rem solid #fface8;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  margin: auto;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container__homepage {
  animation: containerLoading 3000ms 1000ms ease-in-out both;
}

.header {
  font-family: "Shrikhand", cursive, sans-serif;
  text-align: center;
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0.5rem #363636;
  position: relative;
  z-index: 1;
  display: flex;
}

.headerItems {
  width: 1450px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media screen and (min-width: 1450px) {
  .headerItems {
    width: 100%;
  }
}
.headerItems__logo {
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 250px) {
  .headerItems__logo {
    font-size: 1.5rem;
  }
}
@media (min-width: 250px) and (max-width: 330px) {
  .headerItems__logo {
    font-size: 1.75rem;
  }
}
.headerItems__backbutton {
  position: absolute;
  padding-left: 1.5rem;
  align-self: center;
  cursor: pointer;
  z-index: 1;
  font-size: 1.5rem;
}
@media screen and (max-width: 250px) {
  .headerItems__backbutton {
    padding-left: 1rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1450px) {
  .headerItems__backbutton {
    justify-self: left;
  }
}

.Section {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
.Section__main {
  max-width: 1450px;
  margin: auto;
}
.Section__menu {
  max-width: 1450px;
  margin: auto;
  background-color: #f5f5f5;
}

.footer {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: auto;
  height: 100%;
  background-color: #363636;
  display: flex;
}

.footerItems {
  width: 1450px;
  height: 100%;
  margin: auto;
  padding-left: 1.5rem;
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 250px) {
  .footerItems {
    margin: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .footerItems {
    padding-bottom: 5rem;
  }
}
@media screen and (min-width: 1450px) {
  .footerItems {
    padding-bottom: 5rem;
  }
}
.footerItems__logo {
  font-family: "Shrikhand", cursive, sans-serif;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.footerItems__list {
  list-style-type: none;
  width: auto;
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .footerItems__list {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1450px) {
  .footerItems__list {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.footerItems__list--link {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  line-height: normal;
  margin: 0.6rem 0;
  width: 13rem;
}
@media screen and (max-width: 250px) {
  .footerItems__list--link {
    font-size: 1rem;
    width: 10rem;
  }
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .footerItems__list--link {
    margin-right: 6rem;
    width: auto;
  }
}
@media screen and (min-width: 1450px) {
  .footerItems__list--link {
    margin-right: 6rem;
    width: auto;
  }
}
.footerItems__list--link:hover {
  text-decoration: underline;
  width: 13rem;
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .footerItems__list--link:hover {
    width: auto;
  }
}
@media screen and (min-width: 1450px) {
  .footerItems__list--link:hover {
    width: auto;
  }
}
.footerItems__list--iconutensils {
  margin-right: 1.22rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 250px) {
  .footerItems__list--iconutensils {
    font-size: 1rem;
    width: auto;
  }
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .footerItems__list--iconutensils {
    margin-right: 0.7rem;
  }
}
@media screen and (min-width: 1450px) {
  .footerItems__list--iconutensils {
    margin-right: 0.7rem;
  }
}
.footerItems__list--iconhands {
  margin-right: 1rem;
  font-size: 1rem;
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .footerItems__list--iconhands {
    margin-right: 0.7rem;
  }
}
@media screen and (min-width: 1450px) {
  .footerItems__list--iconhands {
    margin-right: 0.7rem;
  }
}

.btn {
  width: auto;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 2.5rem;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #e3e3e3;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  border-bottom: 0.0001rem solid #ae80e5;
  border-right: 0.0001rem solid #ae80e5;
  border-top: 0.0001rem solid #FF79DA;
  border-left: 0.0001rem solid #FF79DA;
  box-shadow: 0 0 0.5rem rgba(150, 113, 134, 0.6);
}
.btn:hover {
  animation: btn-hov 300ms ease-in-out forwards;
  box-shadow: 0 0 0.5rem #363636;
}
.btn__menu {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 250px) {
  .btn {
    padding: 1rem;
    font-weight: normal;
  }
}

.menu__picture {
  max-width: 100%;
  max-height: 30rem;
}
@media (min-width: 800px) and (max-width: 1000px) {
  .menu__picture {
    height: 30rem;
  }
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .menu__picture {
    height: 30rem;
  }
}
@media screen and (min-width: 1450px) {
  .menu__picture {
    height: 30rem;
  }
}
.menu__picture--img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: auto;
}

.menu {
  width: 100%;
  position: relative;
  margin-top: -3.75rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.menu__table {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.menu__table--name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 0.5rem;
}
.menu__table--items {
  width: 100%;
  height: auto;
  padding-top: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.menuTableName__title {
  font-family: "Shrikhand", cursive, sans-serif;
  font-weight: 100;
  font-size: 1.75rem;
}
@media screen and (max-width: 250px) {
  .menuTableName__title {
    font-weight: normal;
  }
}
@media (min-width: 250px) and (max-width: 330px) {
  .menuTableName__title {
    font-weight: normal;
    margin-right: 0.25rem;
  }
}
.menuTableName__like {
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-left: 0.75rem;
  padding-right: 0.2rem;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
}
.menuTableName__like:hover {
  color: #f5f5f5;
}
.menuTableName__like--Default {
  position: relative;
}
.menuTableName__like--Default:hover {
  visibility: hidden;
}
.menuTableName__like--Extra {
  position: absolute;
  color: transparent;
}
.menuTableName__like--Extra:hover {
  cursor: pointer;
  animation: heart-filling 450ms both ease-in-out;
  color: transparent;
  display: inline-block;
  opacity: 0;
  font-weight: bold;
  z-index: 1;
}
@media screen and (max-width: 250px) {
  .menuTableName__like {
    font-size: 1.5rem;
  }
}
@media (min-width: 250px) and (max-width: 330px) {
  .menuTableName__like {
    font-size: 1.6rem;
    margin-right: 1.25rem;
  }
}

.menuItems {
  width: 100%;
  margin-bottom: -1.5rem;
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .menuItems {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1450px) {
  .menuItems {
    flex-direction: row;
    justify-content: space-around;
  }
}
.menuItems__starter {
  margin-bottom: 1rem;
}
.menuItems__starter--TitleUnderline {
  padding-bottom: 0.15rem;
  border-bottom: 0.15rem solid #99E2D0;
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .menuItems__starter {
    display: flex;
    flex-direction: column;
    width: 31%;
  }
}
@media screen and (min-width: 1450px) {
  .menuItems__starter {
    display: flex;
    flex-direction: column;
    width: 31%;
  }
}
.menuItems__dish {
  margin-bottom: 1rem;
}
.menuItems__dish--TitleUnderline {
  padding-bottom: 0.15rem;
  border-bottom: 0.15rem solid #99E2D0;
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .menuItems__dish {
    display: flex;
    flex-direction: column;
    width: 31%;
  }
}
@media screen and (min-width: 1450px) {
  .menuItems__dish {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
.menuItems__dessert {
  margin-bottom: 1rem;
}
.menuItems__dessert--TitleUnderline {
  padding-bottom: 0.15rem;
  border-bottom: 0.15rem solid #99E2D0;
}
@media (min-width: 1000px) and (max-width: 1450px) {
  .menuItems__dessert {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}
@media screen and (min-width: 1450px) {
  .menuItems__dessert {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
}

#menuItems__panel--1 {
  animation: LoadingMenuItems 1000ms 100ms cubic-bezier(0.99, 0.08, 0.16, 0.96) both;
}
#menuItems__panel--2 {
  animation: LoadingMenuItems 1000ms 200ms cubic-bezier(0.99, 0.08, 0.16, 0.96) both;
}
#menuItems__panel--3 {
  animation: LoadingMenuItems 1000ms 300ms cubic-bezier(0.99, 0.08, 0.16, 0.96) both;
}
#menuItems__panel--4 {
  animation: LoadingMenuItems 1000ms 400ms cubic-bezier(0.99, 0.08, 0.16, 0.96) both;
}
#menuItems__panel--5 {
  animation: LoadingMenuItems 1000ms 500ms cubic-bezier(0.99, 0.08, 0.16, 0.96) both;
}
#menuItems__panel--6 {
  animation: LoadingMenuItems 1000ms 600ms cubic-bezier(0.99, 0.08, 0.16, 0.96) both;
}
#menuItems__panel--7 {
  animation: LoadingMenuItems 1000ms 700ms cubic-bezier(0.99, 0.08, 0.16, 0.96) both;
}
#menuItems__panel--8 {
  animation: LoadingMenuItems 1000ms 800ms cubic-bezier(0.99, 0.08, 0.16, 0.96) both;
}
#menuItems__panel--9 {
  animation: LoadingMenuItems 1000ms 900ms cubic-bezier(0.99, 0.08, 0.16, 0.96) both;
}
#menuItems__panel--10 {
  animation: LoadingMenuItems 1000ms 1000ms cubic-bezier(0.99, 0.08, 0.16, 0.96) both;
}

.menuStarterBox {
  width: auto;
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}
.menuStarterBox__panel {
  cursor: pointer;
  height: 5rem;
  box-shadow: 0 0 0.75rem #cecbcb;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.75rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.menuStarterBox__panel--textBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}
.menuStarterBox__panel--textNameBox {
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: normal;
  width: 100%;
  overflow: hidden;
}
.menuStarterBox__panel--textNameDesignation {
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuStarterBox__panel--textNameDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuStarterBox__panel--textPrice {
  width: auto;
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-right: 1.25rem;
  margin-left: 0.75rem;
  font-weight: 700;
}
.menuStarterBox__panel--checkedBox {
  background-color: #99E2D0;
  width: 5rem;
  font-size: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: -5rem;
}
.menuStarterBox__panel:hover {
  padding-right: 5rem;
}
.menuStarterBox__panel--checkedBoxIcon {
  transition: transform 500ms ease-in-out;
}
.menuStarterBox__panel:hover .fa-check-circle {
  transform: rotate(360deg);
}

.menuDishBox {
  width: auto;
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}
.menuDishBox__panel {
  cursor: pointer;
  height: 5rem;
  box-shadow: 0 0 0.75rem #cecbcb;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.75rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.menuDishBox__panel--textBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}
.menuDishBox__panel--textNameBox {
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: normal;
  width: 100%;
  overflow: hidden;
}
.menuDishBox__panel--textNameDesignation {
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuDishBox__panel--textNameDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuDishBox__panel--textPrice {
  width: auto;
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-right: 1.25rem;
  margin-left: 0.75rem;
  font-weight: 700;
}
.menuDishBox__panel--checkedBox {
  background-color: #99E2D0;
  width: 5rem;
  font-size: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: -5rem;
}
.menuDishBox__panel:hover {
  padding-right: 5rem;
}
.menuDishBox__panel--checkedBoxIcon {
  transition: transform 500ms ease-in-out;
}
.menuDishBox__panel:hover .fa-check-circle {
  transform: rotate(360deg);
}

.menuDessertBox {
  width: auto;
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
}
.menuDessertBox__panel {
  cursor: pointer;
  height: 5rem;
  box-shadow: 0 0 0.75rem #cecbcb;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding-left: 0.75rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  transition: padding-right 450ms ease-in-out;
}
.menuDessertBox__panel--textBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}
.menuDessertBox__panel--textNameBox {
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: normal;
  width: 100%;
  overflow: hidden;
}
.menuDessertBox__panel--textNameDesignation {
  margin-bottom: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuDessertBox__panel--textNameDescription {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuDessertBox__panel--textPrice {
  width: auto;
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-right: 1.25rem;
  margin-left: 0.75rem;
  font-weight: 700;
}
.menuDessertBox__panel--checkedBox {
  background-color: #99E2D0;
  width: 5rem;
  font-size: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: -5rem;
}
.menuDessertBox__panel:hover {
  padding-right: 5rem;
}
.menuDessertBox__panel--checkedBoxIcon {
  transition: transform 500ms ease-in-out;
}
.menuDessertBox__panel:hover .fa-check-circle {
  transform: rotate(360deg);
}

.menuBtnField {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style_menu.css.map */
