//=================================================================================================
//================================Remplissage du coeur au survol===================================
//=================================================================================================
@keyframes heart-filling {
    0% {
        background-image: $cd-linear-gradient;
        opacity: 0.25;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
    45% {
        background-image: $cd-linear-gradient;
        opacity: 0.35;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
    70% {
        background-image: $cd-linear-gradient;
        opacity: 0.65;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
    85% {
        background-image: $cd-linear-gradient;
        opacity: 0.90;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
    100% {
        background-image: $cd-linear-gradient;
        opacity: 1;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
}

//=================================================================================================
//================================Chargement des items du menu=====================================
//=================================================================================================
@keyframes LoadingMenuItems {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    45%, 65% {
        transform: translateY(-0.25*$dim);
        opacity: 0.4;
    }
    80%, 100% {
        transform: translateY(-0.5*$dim);
        opacity: 1;
    }
}


//=================================================================================================
//========================================ohmyfoodLoader===========================================
//=================================================================================================
@keyframes loadingSpinner {
    to {
        transform: rotate(3turn);  
    } 
    to {
        opacity: 0;
    }
}

@keyframes load-msg {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

//=================================================================================================
//========================================main Container loaging===========================================
//=================================================================================================
@keyframes containerLoading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//=================================================================================================
//========================================Restaurant hover=========================================
//=================================================================================================
@keyframes restaurant-hov {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
    }
}

//=================================================================================================
//========================================Btn hover================================================
//=================================================================================================
@keyframes btn-hov {
    0% {
        background-image: linear-gradient(0deg, lighten($colour-primary, 5%), lighten($colour-secondary, 5%));
        border-bottom: 0.0001*$dim solid lighten($colour-primary, 5%);
        border-right: 0.0001*$dim solid lighten($colour-primary, 5%);
        border-top: 0.0001*$dim solid lighten($colour-secondary, 5%);
        border-left: 0.0001*$dim solid lighten($colour-secondary, 5%);
    }
    60% {
        background-image: linear-gradient(0deg, lighten($colour-primary, 10%), lighten($colour-secondary, 10%));
        border-bottom: 0.0001*$dim solid lighten($colour-primary, 10%);
        border-right: 0.0001*$dim solid lighten($colour-primary, 10%);
        border-top: 0.0001*$dim solid lighten($colour-secondary, 10%);
        border-left: 0.0001*$dim solid lighten($colour-secondary, 10%);
    }
    100% {
        background-image: linear-gradient(0deg, lighten($colour-primary, 15%), lighten($colour-secondary, 15%));
        border-bottom: 0.0001*$dim solid lighten($colour-primary, 15%);
        border-right: 0.0001*$dim solid lighten($colour-primary, 15%);
        border-top: 0.0001*$dim solid lighten($colour-secondary, 10%);
        border-left: 0.0001*$dim solid lighten($colour-secondary, 10%);
    }
}