// Ecrans
@mixin media0-250 {
    @media screen and (max-width: map-get($map: $breakpoints, $key: media250px)) {
        @content;
    }
}

@mixin media250-330 {
    @media (min-width: map-get($map: $breakpoints, $key: media250px)) and (max-width: map-get($map: $breakpoints, $key: media330px)) {
        @content;
    }
}

@mixin media330-390 {
    @media (min-width: map-get($map: $breakpoints, $key: media330px)) and (max-width: map-get($map: $breakpoints, $key: media390px)) {
        @content;
    }
}
 
@mixin media390-460 {
    @media (min-width: map-get($map: $breakpoints, $key: media390px)) and (max-width: map-get($map: $breakpoints, $key: media460px)) {
        @content;
    }
}

@mixin media460-560 {
    @media (min-width: map-get($map: $breakpoints, $key: media460px)) and (max-width: map-get($map: $breakpoints, $key: media560px)) {
        @content;
    }
}

@mixin media560-800 {
    @media (min-width: map-get($map: $breakpoints, $key: media560px)) and (max-width: map-get($map: $breakpoints, $key: media800px)) {
        @content;
    }
}

@mixin media800-1000 {
    @media (min-width: map-get($map: $breakpoints, $key: media800px)) and (max-width: map-get($map: $breakpoints, $key: media1000px)) {
        @content;
    }
}

@mixin media1000-1450 {
    @media (min-width: map-get($map: $breakpoints, $key: media1000px)) and (max-width: map-get($map: $breakpoints, $key: media1450px)) {
        @content;        
    }
}

@mixin media1450-sup {
    @media screen and (min-width: map-get($map: $breakpoints, $key: media1450px)) {
        @content;
    }      
}

// paramètres des blocs
@mixin common-bloc {
    width: 100%;
    height: auto;
    padding-top: $dim;
    padding-left: 1.2*$dim;
    padding-right: 1.2*$dim;
    padding-bottom: $dim;
    display: flex;
    flex-direction: column;
}

// Titres
@mixin common-title {
    padding-top: $dim;
    padding-bottom: 0.5*$dim;
}

// Planches
@mixin common-board {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

// Box composantes "tuto" et "menu"
@mixin Tuto-Menu-ItemsBox {
    width: auto;
    margin: $dim 0 $dim 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Paramètres de mise en page de base des Items du menu "Entrées / Palts / Desserts"
@mixin menu-Items-basic-settings {
    margin-bottom: $dim;
    &--TitleUnderline {
        padding-bottom: 0.15*$dim;
        border-bottom: 0.15*$dim solid $colour-tertiary;
    } 
}

// Paramètres des Panels du menu
@mixin panel-designation-description-price-checked {
    cursor: pointer;
    height: 5*$dim;
    box-shadow: 0 0 0.75*$dim $cd-shadow;
    border-radius: $dim;
    margin-bottom: $dim;
    padding-left: 0.75*$dim;
    background-color: $cd-accent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden; // cache la partie validation du panel jusqu'au ":hover"
    &--textBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        white-space: nowrap;
    }
    &--textNameBox { 
        padding-top: 0.85*$dim;
        padding-bottom: 0.85*$dim;
        font-size: 0.95*$dim;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        line-height: normal;
        width: 100%;
        overflow: hidden; 
    }
    &--textNameDesignation {
        margin-bottom: 0.25*$dim;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &--textNameDescription {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &--textPrice {
        width: auto;
        align-self: flex-end;
        margin-bottom: $dim;
        margin-right: 1.25*$dim;
        margin-left: 0.75*$dim;
        font-weight: 700;
    }
    &--checkedBox {
        background-color: $colour-tertiary;
        width: 5*$dim;
        font-size: 2*$dim;
        border-top-right-radius: $dim;
        border-bottom-right-radius: $dim;
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $cd-accent;
        margin-right: -5*$dim; // sort la boîte de la zone d'affichage par défaut  
    } 
}


