.menu__picture {
    max-width: 100%;
    max-height: 30*$dim;
    @include media800-1000 {
        height: 30*$dim;
    }
    @include media1000-1450 {
        height: 30*$dim;
    }
    @include media1450-sup {
        height: 30*$dim;
    }
    &--img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.menu {
    width: 100%;
    position: relative;
    margin-top: -3.75*$dim;
    border-top-left-radius: 2*$dim;
    border-top-right-radius: 2*$dim;
    &__table {
        padding-top: 2*$dim;
        display: flex;
        flex-direction: column;
        &--name {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: $dim;
            margin-right: 1.5*$dim;
            margin-bottom: 0.5*$dim;
        }
        &--items {
            @include common-bloc;
        }
    }
}

.menuTableName {
    &__title {
        font-family: 'Shrikhand', cursive, sans-serif;
        font-weight: 100;
        font-size: 1.75*$dim;
        @include media0-250 {
            font-weight: normal;
        }
        @include media250-330 {
            font-weight: normal;
            margin-right: 0.25*$dim;
        }
    }
    &__like {
        margin-top: 0.5*$dim;
        margin-right: $dim;
        margin-left: 0.75*$dim;
        font-size: 2*$dim;
        cursor: pointer;
        &--Default {
            position: relative;
            &:hover {
                visibility: hidden;
            }
        }
        &--Extra {
            position: absolute;
            color: transparent;
            &:hover {
                cursor: pointer;
                animation: heart-filling 450ms forwards ease-in-out;              
                color: transparent;
                display: inline-block;
                opacity: 0;
                font-weight: bold;
                z-index: 1;
            }
        }
        @include media0-250 {
            font-size: 1.5*$dim;
        }
        @include media250-330 {
            font-size: 1.6*$dim;
            margin-right: 1.25*$dim;
        }
    }
}

.menuItems {
    width: 100%;
    margin-bottom: -1.5*$dim;
    @include media1000-1450 {
        flex-direction: row;
        justify-content: space-around;
    }
    @include media1450-sup {
        flex-direction: row;
        justify-content: space-around;
    }
    &__starter{
        @include menu-Items-basic-settings;
        @include media1000-1450 {
            display: flex;
            flex-direction: column;
            width: 31%
        }
        @include media1450-sup {
            display: flex;
            flex-direction: column;
            width: 31%
        }
    }
    &__dish {
        @include menu-Items-basic-settings;
        @include media1000-1450 {
            display: flex;
            flex-direction: column;
            width: 31%
        }
        @include media1450-sup {
            display: flex;
            flex-direction: column;
            width: 30%
        }
    }
    &__dessert {
        @include menu-Items-basic-settings;
        @include media1000-1450 {
            display: flex;
            flex-direction: column;
            width: 30%
        }
        @include media1450-sup {
            display: flex;
            flex-direction: column;
            width: 30%
        }
    }
}

//Animantion des panels du menu au chargement de la page
#menuItems__panel {
    @for $i from 1 through $numberMenuItems {
        &--#{$i} {
            animation: LoadingMenuItems $menu-anim-dur $menu-anim-delay*$i cubic-bezier(.99,.08,.16,.96) both;
        }
    }
}

// Entrées
.menuStarterBox {
    @include Tuto-Menu-ItemsBox;
    margin-top: 3*$dim;
    &__panel {
        @include panel-designation-description-price-checked;
        transition: padding-right 450ms ease-in-out;
        &:hover {
            padding-right: 5*$dim;
        }
        &--checkedBoxIcon {
            transition: transform 500ms ease-in-out;
        }
        &:hover .fa-check-circle {
            transform: rotate(360deg)
        }
    }
}

// Plats
.menuDishBox {
    @include Tuto-Menu-ItemsBox;
    margin-top: 3*$dim;
    &__panel {
       @include panel-designation-description-price-checked;
       transition: padding-right 450ms ease-in-out;
        &:hover {
            padding-right: 5*$dim;
        }
        &--checkedBoxIcon {
            transition: transform 500ms ease-in-out;
        }
        &:hover .fa-check-circle {
            transform: rotate(360deg)
        }
    }
}

// Desserts
.menuDessertBox {
    @include Tuto-Menu-ItemsBox;
    margin-top: 3*$dim;
    &__panel {
        @include panel-designation-description-price-checked;
        transition: padding-right 450ms ease-in-out;
        &:hover {
            padding-right: 5*$dim;
        }
        &--checkedBoxIcon {
            transition: transform 500ms ease-in-out;
        }
        &:hover .fa-check-circle {
            transform: rotate(360deg)
        }
    }
}

.menuBtnField {
    width: 100%;
    display: flex;
    justify-content: center;
}