.btn {
    width: auto;
    padding: $dim 1.5*$dim $dim 1.5*$dim;
    border-radius: 2.5*$dim;
    color: $cd-maincolour;
    font-size: $dim;
    font-weight: bold;
    cursor: pointer;
    background-color: $cd-localbackground;
    background-image: linear-gradient(0deg, rgb(147, 86, 220, 1), rgb(255, 121, 218, 1));
    border-bottom: 0.0001*$dim solid $cd-primary-lighten;
    border-right: 0.0001*$dim solid $cd-primary-lighten;
    border-top: 0.0001*$dim solid $colour-secondary;
    border-left: 0.0001*$dim solid $colour-secondary;
    box-shadow: 0 0 0.5*$dim rgba(150, 113, 134, 0.6);
    &:hover {
        animation: btn-hov 300ms ease-in-out forwards;
        box-shadow: 0 0 0.5*$dim $cd-footerbackground;
    }
    &__menu {
        padding-left: 2.5*$dim;
        padding-right: 2.5*$dim;
        margin-bottom: 5*$dim;
    }
    @include media0-250 {
        padding: $dim;
        font-weight: normal;
    }
}