@font-face {
    font-family: 'Roboto';
    src: url(/polices/Roboto/Roboto-Black.ttf), 
    url(/polices/Roboto/Roboto-Bold.ttf), 
    url(/polices/Roboto/Roboto-Italic.ttf),
    url(/polices/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}