.footer {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    background-color: $cd-footerbackground;
    display: flex;
}

.footerItems {
    width: 1450px;
    height: auto;
    margin: auto;
    padding-left: 1.5*$dim;
    padding-bottom: 2*$dim;
    @include media0-250 {
        margin: auto;
    }
    &__logo {
        font-family: 'Shrikhand', cursive, sans-serif;
        font-size: 2*$dim;
        color: $cd-accent;
        margin-bottom: 1.5*$dim;
        margin-top: 1.5*$dim;
    }
    &__list {
        list-style-type: none;
        &--link {
            color: $cd-maincolour;
            text-decoration: none;
            font-size: 1.25*$dim;
            display: block;
            line-height: normal;
            margin: 0.6*$dim 0;
            width: 15*$dim;
            @include media0-250 {
                font-size: $dim;
                width: 10*$dim;
            }
            &:hover {
                text-decoration: underline;
                width: 15*$dim;
            }
        }
        &--iconutensils {
            margin-right: 1.22*$dim;
            font-size: 1.2*$dim;
            @include media0-250 {
                font-size: $dim;
                width: auto;
            }
        }
        &--iconhands {
            margin-right: $dim;
            font-size: $dim;
        }
    }
}